<footer style="background-color: yellow;">
    <div class="container" style="padding: 10px;">
        <div class="row justify-content-center">
            <div class="col-md-2 text-left">
                <h2 style="color: black;">Contato</h2>
                <p style="color: black;">
                    Tel(11) 5544-7755 <br />
                    Rua Espaço Sideral 0 <br />
                    escolacalecimento@terra.com <br />
                </p>
            </div>
            <div class="col-md-10">
                <div class="row justify-content-center" style="margin-top: 35px;">
                    <i class="fab fa-facebook" style="color: black; font-size: 40px; text-align: center;">
                    </i>
                    <i class="fab fa-instagram"
                        style="color: black; font-size: 40px;  text-align: center; margin-left: 20px;">
                    </i>
                    <i class="fab fa-youtube"
                        style="color: black; font-size: 40px;  text-align: center; margin-left: 20px;">
                    </i>
                    <i class="fab fa-linkedin"
                        style="color: black; font-size: 40px;  text-align: center; margin-left: 20px;">
                    </i>

                </div>
            </div>
        </div>
    </div>
</footer>