<section id="section4">
    <div class="row " style="margin-bottom: 20px;">

        <div class="col-md-4 text-center">
            <div class="container text-center">
                <div class="card" style="width: 18rem;">
                    <div class="row card-img-wrap justify-content-center">
                        <img class="card-img-wrap card-img-top" src="/assets/img/malabarismo.jpg"
                            alt="Malabarismo Espacial"
                            style="height: 200px; width: 250px; position: relative; padding: 2px;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Curso de Malabarismo Espacial</h5>
                        <p class="card-text">Aprenda hoje mesmo a técnica que revolucionou o espaço.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <i class="fas fa-money-bill"
                                style="color:forestgreen; font-size: 20px;"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">89,00/mês</p>
                        </li>

                        <li class="list-group-item"> <i class="fas fa-globe-europe"
                                style="font-size: 20px"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">Presencial (óbvio)</p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="container text-center">
                <div class="card" style="width: 18rem;">
                    <div class="row card-img-wrap justify-content-center">
                        <img class="card-img-wrap card-img-top" src="/assets/img/calculoexistencial.jpg"
                            alt="Card image cap"
                            style="height: 200px; width: 250px; position: relative; padding: 2px;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Curso de Cálculo Existencial</h5>
                        <p class="card-text">Inovadoras fórmularas para calcular crises e vazio existencial.
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <i class="fas fa-money-bill"
                                style="color:forestgreen; font-size: 20px;"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">$149,00/mês</p>
                        </li>
                        <li class="list-group-item"> <i class="fas fa-laptop" style="font-size: 20px"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">EAD</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="container text-center">
                <div class="card" style="width: 18rem;">
                    <div class="row card-img-wrap justify-content-center">
                        <img class="card-img-wrap card-img-top" src="/assets/img/cursodememe.jpg"
                            alt="Card image cap"
                            style="height: 200px; width: 250px; position: relative; padding: 2px;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Curso de Criação de memes</h5>
                        <p class="card-text">Curso capaz de transformar um mero plebeu em um
                            criador de
                            memes de qualidade.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <i class="fas fa-money-bill"
                                style="color:forestgreen; font-size: 20px;"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">$412,00/mês</p>
                        </li>
                        <li class="list-group-item"> <i class="fas fa-laptop" style="font-size: 20px"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">EAD</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 100px;">

        <div class="col-md-4 text-center">
            <div class="container text-center">
                <div class="card" style="width: 18rem;">
                    <div class="row card-img-wrap justify-content-center">
                        <img class="card-img-wrap card-img-top" src="/assets/img/caramelo.jpg" alt="Card image cap"
                            style="height: 200px; width: 250px; position: relative; padding: 2px;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Curso de Adestração do Cachorro Caramelo</h5>
                        <p class="card-text">O cachorro mais justo do Brasil, com os ensinamentos do curso
                            você
                            consegue liderar uma alcateia inteira deles!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <i class="fas fa-money-bill"
                                style="color:forestgreen; font-size: 20px;"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">$824,00/mês</p>
                        </li>
                        <li class="list-group-item"> <i class="fas fa-globe-europe"
                                style="font-size: 20px"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">Presencial</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="container text-center">
                <div class="card" style="width: 18rem;">
                    <div class="row card-img-wrap justify-content-center">
                        <img class="card-img-wrap card-img-top" src="/assets/img/gambiarra.jpg" alt="Card image cap"
                            style="height: 200px; width: 250px; position: relative; padding: 2px;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Curso de Gambiara (Jeitinho Brasileiro)</h5>
                        <p class="card-text">O curso ofere o potencial do aluno se tornar um MacGyver, só
                            que melhor! </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <i class="fas fa-money-bill"
                                style="color:forestgreen; font-size: 20px;"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">$1488,00</p>
                        </li>
                        <li class="list-group-item"> <i class="fas fa-globe-europe"
                                style="font-size: 20px"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">Presencial</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="container text-center">
                <div class="card" style="width: 18rem;">
                    <div class="row card-img-wrap justify-content-center">
                        <img class="card-img-wrap card-img-top" src="/assets/img/blow.gif" alt="Card image cap"
                            style="height: 200px; width: 250px; position: relative; padding: 2px;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Curso Lendário Parkour de Taubaté</h5>
                        <p class="card-text"> Curso ministrado pelo professor mestre Pica-pau. </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <i class="fas fa-money-bill"
                                style="color:forestgreen; font-size: 20px;"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">
                                <p style="font-size: 20px; margin-bottom: 1px;">$6969,00</p>
                        </li>
                        <li class="list-group-item"> <i class="fas fa-globe-europe"
                                style="font-size: 20px"></i>
                            <p style="font-size: 20px; margin-bottom: 1px;">Presencial</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
