h1 {
    color:yellow;
    text-align: center;
    }
    /*aqui selecionamos os elementos p*/
    p {
    color: blue;
    border: solid 1px black;
    }
    strong{
    color: blueviolet;
    background-color: orange;
    }