.card-img-wrap {
    overflow: hidden;
    position: relative;
  }
  .card-img-wrap:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(255,255,255,0.3);
    opacity: 0;
    transition: opacity .25s;
  }
  .card-img-wrap img {
    transition: transform .25s;
    width: 100%;
  }
  .card-img-wrap:hover img {
    transform: scale(1.8);
  }
  .card-img-wrap:hover:after {
    opacity: 1;
  }

.card-body {
    height: 180px;
}

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
  }
 
  @font-face {
    font-family: StarWars;
    src: url(font/space\ age.ttf);
  }

.linknavbar {
    color: black;
    font-size: 26px;
    font-family:StarWars ;
    font-weight: bold;
    padding-right: 50px;
}

.txtslider {
    font-size: 42px;
    color: white;

}

.cr {
    color: white;
    font-size: 22px;
}

.nome {
    color: white;
}

#background {
    background-repeat: no-repeat;
    background-size: cover;
}


@media only screen and (min-width: 500px) {
    #video {
        margin-top: 300px;
        margin-left: 100px; 
    }   

   #logofinal{
        margin-top: -100px; 
  }

  #section3 { 
  height: 1000px;
  }

}