<nav class="navbar navbar-light navbar-expand-md justify-content-center sticky-top"
style="background-color: rgb(119, 231, 119); border-bottom: 4px solid; border-color: black;">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
    <a class="navbar-brand d-flex mr-auto"><img src="assets/img/mapamundi.png" class="logo"
            style="height: 70px; margin-left: 20px;"></a>

    <ul class="navbar-nav w-100 justify-content-center">
        <li class="nav-item active">
            <a class="nav-link" href="app.component.html">
                <p class="linknavbar">Portal</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pontosturisticos.html">
                <p class="linknavbar">Pontos Turísticos</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="valores.html">
                <p class="linknavbar">Valores</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contato.html">
                <p class="linknavbar">Contato</p>
            </a>
        </li>
    </ul>
</div>
</nav>