<nav class="navbar navbar-light navbar-expand-md justify-content-center sticky-top"
        style="background-color: yellow; border-bottom: 4px solid; border-color: black;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <a href="index.html" class="navbar-brand d-flex mr-auto"><img src="/assets/img/logo.png" alt="Logo" class="logo"
                    style="height: 70px; margin-left: 20px;"></a>

            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">
                        <p class="linknavbar">Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cursos.html">
                        <p class="linknavbar">Cursos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contato.html">
                        <p class="linknavbar">Contato</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq.html">
                        <p class="linknavbar">FAQ</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>