<div class="row justify-content-center">
    <div style="background-color: rgba(8, 13, 87, 0.644)" class="col-md-12 justify-content-center">

        <div class="container text-center">
            <p style="margin-top: 20px; font-size: 30px; font-weight: bold;">Orçamento</p>
        </div>

        <div class="container text-center">
            <div class="input-group mb-3">
                <div class="input-group-prepend"></div>
                <input type="text" class="form-control" placeholder="Marca da varinha" aria-label="Marca da varinha"
                    aria-describedby="basic-addon1">
            </div>
            
            <div class="input-group mb-3">
                <div class="input-group-prepend"></div>
                <input type="text" class="form-control" placeholder="Resutado esperado" aria-label="Resutado esperado"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend"></div>
                <input type="text" class="form-control" placeholder="Motivo" aria-label="Motivo"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend"></div>
                <input type="text" class="form-control" placeholder="Tipo de feitiço" aria-label="Tipo de feitiço"
                    aria-describedby="basic-addon1">
            </div>
            
            
        </div>
    </div>


</div>