<div class="row justify-content-center">
    <div style="background-color:aqua;" class="col-md-12 text-center">
        <div class="container text-center mt-4">
            <p style=" font-size: 40px; font-weight: bold;" class="font-italic p-3">Consultar Valores</p>
        </div>
        <div class="container text-center">
            <div class="input-group mb-4 text-center">
                <div class="input-group-prepend text-center"></div>
                <input type="text" class="form-control" placeholder="Origem" aria-label="Origem"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-4">
                <div class="input-group-prepend"></div>
                <input type="text" class="form-control" placeholder="Destino" aria-label="Destino"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-4">
                <div class="input-group-prepend"></div>
                <input type="text" class="form-control" placeholder="Data de partida" aria-label="Data de partida"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend"></div>
                <input type="text" class="form-control" placeholder="Data de volta" aria-label="Data de volta"
                    aria-describedby="basic-addon1">
            </div>

            <button type="button" class="btn btn-danger">Consultar</button>

        </div>
    </div>
</div>