<div class="row justify-content-center">

    <div style="background-color:yellow; padding-bottom: 30px;" class="col-md-12 justify-content-center">
        
<div class="container text-center">
        <img style="margin-top:80px;" src="assets/img/jegue.png">
    </div>

    <div class="container text-center">
        <p style="margin-top: 20px; font-size: 30px; font-weight: bold;">Portal de viagens - Os melhores Jegues!</p>
    </div>

    <div class="container text-center">
        <p style="margin-top: 20px; font-size: 20px;">Preços especiais para quem for uma mula.</p>
    </div>


</div>


</div>