<div class="row justify-content-center">

    <div style="background-color:rgb(197, 180, 227); padding-bottom: 30px;" class="col-md-12 justify-content-center">
        
<div class="container text-center">
        <img style="margin-top:80px;" src="assets/img/logo2.jpg">
    </div>

    <div class="container text-center">
        <p style="margin-top: 20px; font-size: 30px; font-weight: bold;">Feitiços & Afins - Bruxaria pesada por um preço leve!</p>
    </div>

    <div class="container text-center">
        <p style="margin-top: 40px; font-size: 20px;">Pague com a alma!</p>
    </div>


</div>


</div>