<div class="row text-center">
    
        <div style="background-color:skyblue;" class="col-md-12 text-center">
            <div class="text-center">
                <img class="pt-2" src="assets/img/logo2.png">
            </div>

            <div class="text-center">
                <p style= "font-size: 30px; font-weight: bold;" >Portal de Viagens - Os Melhores Navios Nas Suas Melhores Viagens!
                </p>
            </div>

            <div class="text-center">
                <p style="margin-top: 20px; font-size: 20px;" class="pb-5">Viaje o mundo com estilo!
                </p>
            </div>
        </div>
    
</div>