<!-- Font-awesome - I­cones -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

<!-- Fonte do Google -->
<link href="https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Source+Sans+Pro" rel="stylesheet" />

<header style="height: 100vh; width: 100vw; font-family: 'Sulphur Point', sans-serif; ">
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="jumbotron jumbotron-fluid text-center p-0"
                            style="height: 100vh; width: 100vw; background-image: url(/assets/img/space1.jpg);">
                            <a href="#quemsomos"> <img src="/assets/img/logo.png" alt="Logo"
                                    class="img-fluid text-center" style="height: 200px; margin-top: 300px;"> </a>
                            <p class="txtslider">Escola Cal e Cimento</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="jumbotron jumbotron-fluid text-center p-0"
                            style="height: 100vh; width: 100vw; background-image: url(/assets/img/space2.jpg); background-repeat: no-repeat; background-size: cover; margin-bottom: 0;">
                            <a href="#quemsomos"> <img src="/assets/img/logo.png" alt="Logo"
                                    class="img-fluid text-center" style="height: 200px; margin-top: 300px;"> </a>
                            <p class="txtslider">Escola Cal e Cimento</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="jumbotron jumbotron-fluid text-center p-0"
                            style="height: 100vh; width: 100vw; background-image: url(/assets/img/space3.jpg);  margin-bottom: 0;">
                            <a href="#quemsomos"> <img src="/assets/img/logo.png" alt="Logo"
                                    class="img-fluid text-center" style="height: 200px; margin-top: 300px;"> </a>
                            <p class="txtslider"> Escola Cal e Cimento</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</header>
<app-navbar></app-navbar>

<section id="background" style="background-image: url('/assets/img/background.jpg');">

    <section style="min-height: 500px;">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div id="quemsomos" class="col-md-6">
                    <h1 class="text-center"
                        style="font-family:SulphurPoint; margin-top: 30px; margin-top: 130px; font-size: 88px; color: white;">
                        QUEM SOMOS</h1>
                    <p class="text-center"
                        style="margin-top: 30px; font-family: 'Sulphur Point', sans-serif; font-size: 28px; color: white;">
                        Fundada no dia 20 de julho de 2012, a Escola Cal e Cimento visa estebelecer uma nova
                        categoria
                        de estudos baseados em fatos não reais.
                        Nossa escola carrega o lema de nosso celebre fundandor, ET Bilu: Busquem co-conhecimen....
                        Cal e
                        Cimento.</p>
                </div>
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img id="logofinal" src="/assets/img/logo.png" alt="Logo" class="rounded"
                            style="height: 400px;" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section3">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-6" style="margin-top: 150px;">
                    <h1 class="text-center"
                        style="font-family:SulphurPoint; color:white; margin-bottom: 30px; font-size: 88px;">NOSSA
                        <br>EQUIPE
                    </h1>

                    <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row justify-content-center">
                                    <img class="d-block img-responsive rounded-circle" src="/assets/img/etbilu.jpg"
                                        alt="First slide" style="height: 200px; width: 220px;">
                                </div>

                                <div class="row justify-content-center">
                                    <div class="texto text-center w-50">
                                        <h1 class="nome" style="font-family: 'Sulphur Point', sans-serif;"> ET Bilu
                                        </h1>
                                        <p class="cr">Nosso grandioso e famoso fundandor,
                                            ET
                                            Bilu. Das profundezas do espaço,
                                            propoz propagar conhecimento no planeta terra através de nossa escola.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row justify-content-center">
                                    <img class="d-block img-responsive rounded-circle" src="/assets/img/etvarginha.jpg"
                                        alt="Second slide" style="height: 200px; width: 220px;">
                                </div>
                                <div class="row justify-content-center">
                                    <div class="texto text-center w-50">
                                        <h1 class="nome" style="font-family: 'Sulphur Point', sans-serif;">ET de
                                            Varginha</h1>
                                        <p class="cr">Et de Varginha possuí vasta
                                            experiência
                                            nos assuntos abordados em nossa Escola, tendo transformado
                                            uma pequena cidade no sul de Minas em uma capital da ufologia
                                            Brasileira.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row justify-content-center">
                                    <img class="d-block img-responsive rounded-circle"
                                        src="/assets/img/mestredosmagos.jpg" alt="Third slide"
                                        style="height: 200px; width: 220px;">
                                </div>
                                <div class="row justify-content-center">
                                    <div class="texto text-center w-50">
                                        <h1 class="nome" style="font-family: 'Sulphur Point', sans-serif;">Mestre
                                            dos
                                            Magos</h1>
                                        <p class="cr">O Mestre dos Magos sabe de tudo e
                                            todos,
                                            porém ele nunca te dará a resposta da forma que você gostaria,
                                            sempre utilizando uma charada ou fábulo como passagem de conhecimento.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row justify-content-center">
                                    <img class="d-block img-responsive rounded-circle" src="/assets/img/earl.jpg"
                                        alt="Second slide" style="height: 200px; width: 220px;">
                                </div>
                                <div class="row justify-content-center">
                                    <div class="texto text-center w-50">
                                        <h1 class="nome" style="font-family: 'Sulphur Point', sans-serif;">Dino Earl
                                            Sinclair</h1>
                                        <p class="cr">O muito experiente Megalossauro
                                            Sinclair
                                            vivenciou todo o desenvolvimento da Terra,
                                            sobrevivendo a extinção dos dinossauros.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row justify-content-center">
                                    <img class="d-block img-responsive rounded-circle" src="/assets/img/picapau.jpg"
                                        alt="Second slide" style="height: 200px; width: 220px;">
                                </div>
                                <div class="row justify-content-center">
                                    <div class="texto text-center w-50">
                                        <h1 class="nome" style="font-family: 'Sulphur Point', sans-serif;">Pica-Pau
                                        </h1>
                                        <p class="cr">Nem sempre a melhor forma de se obter
                                            algo é através de um caminho linear. O Pica-Pau ensina as etapas para
                                            conseguir algo de uma forma não convecional. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls2" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 text-center">

                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div id="video" class="embed-responsive embed-responsive-1by1">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-ANx41sZNIQ"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="margin-top: 10px; width: 100vw;">
        <div class="container-fluid" style="padding: 2x;">

            <div class="row">
                <div class="col-md-12 text-center" style="margin-bottom: 30px;">
                    <h1 style="font-family:SulphurPoint; color:white; font-size:88px;"> Conheça nossos cursos</h1>
                    <p style="font-family:SulphurPoint; color: white; font-size:28px;">Possuímos os cursos mais
                        específicos do planeta Terra,
                        somente na Cal e Cimento você tem acesso aos cursos abaixo.<br> </p>
                    <!--<a href="/">Ver todos cursos <i class="fas fa-directions"> </i> </a> -->
                </div>
            </div>
        </div>
    </section>

<app-cursos></app-cursos>
<app-footer></app-footer>









</section>